* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 5rem;
  background-color: bisque;
  color:orange;
  font-family: monospace;
}

  
a {
  color:gray;
  font-size: large;
  font-weight: bold;
  line-height: 2em;
}

.right{
  float:right; 
  padding: 0px 50px 50px 50px;
  
}

p {
  font-size : 20px;
  
}


a:hover{
  color: #ab5821;
}