* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 5rem;
  background-color: bisque;
  color:orange;
  font-family: monospace;
}

  
a {
  color:gray;
  font-family: monospace;
  font-size: large;
  font-weight: bold;
  float:left; 
  background-color: lightblue;
  margin: 0px 100px 50px 100px;
}


.right {
  
}
.head {
 
  
}

p {
  font-size : 20px;
  
}


a:hover{
  color: #ab5821;
}